.template-product {
  .product-page {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    .product-images {
      display: grid;
      gap: 20px;
      @media (min-width: 768px) {
        grid-template-columns: 75px 1fr;
      }
      .product-images-thumbnails {
        display: flex;
        flex-direction: row;
        gap: 8px;
        order: 1;
        @media (min-width: 768px) {
          order: -1;
          flex-direction: column;
        }
        img {
          border-radius: 8px;
        }
      }
      .product-images-large {
        order: -1;
        @media (min-width: 768px) {
          order: 1;
        }
        picture {
          display: block;
          width: 100%;
          height: auto;
        }
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
      }
    }

    .product--title {
      /* Combo 1 */

      /* Heading2 */
      font-family: var(--font-minion);
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      /* identical to box height, or 100% */

      /* Primary/Red2 */
      color: #a5161a;
      padding-bottom: 16px;
    }
    .product--description {
      max-width: 550px;

      /* Body2 */
      font-family: var(--font-header);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      /* Primary/Red3 */
      color: var(--color-red3);

      padding-bottom: 24px;
      img {
        width: auto;
        height: auto;
        display: inline-block;
      }

      p:not(:last-child) {
        padding-bottom: 16px;
      }
    }

    .product--price {
      padding-bottom: 24px;
      small {
        padding-top: 4px;
        display: block;
        /* Body2 */
        font-family: var(--font-header);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        /* Primary/Red3 */
        color: var(--color-red3);
      }
      .variant-price-money {
        display: block;
        /* Heading4 */
        font-family: var(--font-header);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */

        /* Primary/Red2 */
        color: #a5161a;
        small {
          font-size: smaller;
        }
      }
    }

    #variant-selectors {
      margin-bottom: 24px;
    }
    .quantity-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 8px;
    }
    .product__qty {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100px;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      label {
        display: block;
        padding-bottom: 8px;
        font-family: var(--font-header);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        /* Primary/Red3 */
        color: var(--color-red3);
      }
      .product__qtyInput {
        /* Frame 28 */
        box-sizing: border-box;
        -moz-appearance: textfield;
        -webkit-appearance: none;
        padding: 12px 16px;
        text-align: center;

        width: 100px;
        height: 41px;

        /* Neutral/White3 */
        border: 1px solid #d3d3d3;
        border-radius: 4px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        text-align: center;

        /* Primary/Red3 */
        color: var(--color-red3);
      }

      .qty-decrease {
        position: absolute;
        left: 0;
        height: 100%;
      }
      .qty-increase {
        position: absolute;
        right: 0;
        height: 100%;
      }
      .qty-disabled {
        opacity: 0.5;
        cursor: none;
      }
    }
    .addcart {
      /* Primary/Red1 */
      border: 1px solid #c61d23;
      border-radius: 6px;
      /* Add to cart */
      /* Body2 */
      font-family: var(--font-header);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      text-align: center;
      /* Primary/Red1 */
      color: #c61d23;
      width: 100%;
      padding: 12px 16px;
    }
    .buynow {
      /* Frame 47 */
      padding: 12px 16px;
      /* Primary/Red1 */
      background: #c61d23;
      border-radius: 6px;
      /* Buy it now */
      /* Body2 */
      font-family: var(--font-header);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      text-align: center;
      /* Neutral/White1 */
      color: #ffffff;
      width: 100%;
      margin-top: 8px;
    }
    .product__action {
      // display: flex;
      // flex-direction: column;
      max-width: 360px;
    }
  }

  .made-width-love {
    padding-top: 56px;
    padding-bottom: 56px;
    .heading--2 {
      padding-bottom: 32px;
    }
    .made-with-love--lists {
      display: grid;
      gap: 16px 10px;
      grid-template-columns: 1fr;
      @media (min-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
      }
      .made-with-love--list {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        .made-with-love-icon {
          padding-right: 16px;
          display: inline-block;
        }
      }
      @media (min-width: 768px) {
        .made-with-love--list:not(:last-child) {
          border-right: 0.4px solid #660808;
        }
      }
    }
  }

  .related-products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    // padding-bottom: 56px;

    &[collection-list-mobile="2"] {
      grid-template-columns: repeat(2, 1fr);
    }
    &[collection-list-tablet="3"] {
      grid-template-columns: repeat(3, 1fr);
    }
    &[collection-list-desktop="4"] {
      grid-template-columns: repeat(2, 1fr);
      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .sticky-buy-bar {
  display: none;
}

}
