.free-delivery-bar {
  display: none;
  padding: 8px 12px;
  background-color: #a5161a;
  border-radius: 4px;
  text-align: left;

  &.is-visible {
    display: block;
    margin: 14px 40px;
  }
}

.free-delivery-bar__message {
  font-family: var(--font-body-family, sans-serif);
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin: 0;
}
