@use 'sass:map';

$layers: (
  skip-to-content: 100,
  search-overlay: 60,
  product-drawer: 56,
  cart-drawer: 55,
  mobile-menu: 50,
  header: 20,
  announcement-bar: 10,
);

@function z($layer) {
  @return map.get($layers, $layer);
}
