@use 'reset';
@use 'z-index' as *;
@use 'announcement-bar';
@use 'header';
@use 'hero-slider';
@use 'search-overlay';
@use 'cart-drawer';
@use 'product-drawer';
@use 'footer';
@use 'credit-bar';
@use 'icon-with-text';
@use 'feat-collection-carousel';
@use 'testimonials';
@use 'store-locations';
@use 'home-about';
@use 'about-page';
@use 'main-collection';
@use 'exclusive-collections';
@use 'cart-page';

a {
  text-decoration: none;
}

body{
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container-fluid {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  z-index: z(skip-to-content);
}

.skip-to-content:focus {
  top: 0;
}