.site-header {
  position: relative;
  top: 0;
  z-index: 1000;
}

.header-container {
  &.header-normal,
  &.header-hover {
    transition: all 0.3s ease-in-out;
    .layout__grid-box {
      display: flex;
      align-items: center;
      align-items: flex-start;
      justify-content: space-between;
      padding: 24px 16px;
    }
  }
  &.header-normal.show {
    z-index: 4;
    position: relative;
  }
}

.header-hover {
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(-100vh);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  z-index: 8;
  &.show {
    overflow: visible;
    transform: translateY(0px);
    background-color: #fff;
    padding-top: 38px;
    z-index: 4;
  }
}

.header-overlay {
  transform: translateY(-100vh);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;

  &.show {
    display: block;
    transition: all 0.3s ease-in-out;
    transform: translateY(0px);
    z-index: 3;
  }
}

.header-logo .logo-svg {
  width: 136px;
  height: 40px;

  @media (min-width: 768px) {
    width: 165px;
    height: 48px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.mobile-toggle {
  @media (min-width: 768px) {
    display: none;
  }
}

.header-nav {
  .header-nav-lists {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
    &.show {
      position: absolute;
      left: 0;
      right: 0;
      top: 88px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 88px);
      background-color: #fff;
      padding-top: 20px;
      @media (min-width: 768px) {
        position: initial;
        height: auto;
        flex-direction: row;
        padding-top: 0;
      }
    }
    &.hide {
      display: none;
    }

    .header-nav-list {
      .header-nav-list--item {
        text-align: center;
        display: inline-block;
        font-family: var(--font-header);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 16px;
        /* Primary/Red3 */
        color: var(--color-red3);
        position: relative;
        z-index: 0;
        &::before {
          content: "";
          display: block;
          width: 0%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 4px;
          background-color: transparent;
          transition: all 0.3s ease-in-out;
          background-color: #c61d23;
          z-index: -1;
        }
        &:hover,
        &:focus {
          border-radius: 4px;
          /* Neutral/White1 */
          color: #ffffff;
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.search-bar {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 37px;
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: calc(100vh - 37px);
  @media (min-width: 768px) {
    position: initial;
    height: auto;
  }

  .search-bar-wrapper {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 27px 20px 20px;
    @media (min-width: 768px) {
      display: flex;
      border-radius: 0;
      padding: 0;
    }
  }
  form {
    position: relative;
    flex: 1 0 auto;

    input[type="search"] {
      border: 1px solid #d3d3d3;
      /* Search products */
      padding: 12px 32px 12px 12px;
      border-radius: 6px;
      margin: 0 auto;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */

      /* Primary/Red3 */
      color: var(--color-red3);
      width: calc(100% - 32px - 14px);
      @media (min-width: 768px) {
        min-width: 690px;
      }
    }
    button {
      position: absolute;
      left: initial;
      right: 0;
      top: 0;
      bottom: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
.header-icons {
  display: flex;
  gap: 20px;

  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    padding: 0;
    svg {
      width: 20px;
      height: 20px;
    }
    .cart-count {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 16px;
      height: 16px;
      background-color: var(--color-red3);
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      border-radius: 50%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  #search-toggle {
    &.hide {
      display: none;
    }
    &.show {
      display: inline-block;
    }
  }
}
