

.pagination {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button--prev svg {
    transform: rotate(180deg);
  }
  &__button--next svg {
    transform: rotate(-180deg);
  }
  &__page {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    /* Body1 */
    font-family: var(--font-header);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;

    /* Primary/Red3 */
    color: var(--color-red3);

    cursor: pointer;

    &--current {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      padding: 2px 8px;
      border: 1px solid transparent;
      border-radius: 2px;
      /* Body1 */
      font-family: var(--font-header);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      display: flex;
      align-items: center;

      /* Primary/Red3 */
      color: var(--color-red3);

      cursor: pointer;
      background-color: #c61d23;
      color: #ffffff;
    }
    &--decorative {
      opacity: 0.4;
      &:hover {
        // border: 1px solid transparent;
        color: initial;
      }
    }
  }
}

