@use "sass:map";
$z-index: (
  body: 1,
  marquee: 2,
  header: 2,
  mobileFooter: 2,
  searchAreaWrapper: 3,
  mobileSideMenu: 6,
  meFilter: 1,
  filterDrawerWrapper: 6,
  filterDrawer: 7,
  drawer_overlay: 9,
  drawer_overlayWrapper: 8,
  toasterOver: 5,
  cart: 19,
  cart_overlay: 18,
  filter: 17,
  filter_overlay: 16,
  sort_overlay: 2,
  quickview: 15,
  quickview_overlay: 14,
  product: 13,
  product_size-chart: 12,
  header_cart_icon: 10,
  chat_icon: 8
);

@function z-index($key) {
  @return map.get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

:root {
  --mobile: 576px;
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1140px;
  --content-width: 1200px;
  --gutter-full: 24px;
  --gutter-half: 12px;
  --gutter-mobile: 8px;
  --menu-font-size: 16px;
  --font-h1: 48px;
  --font-h2: 38px;
  --font-h3: 24px;
  --font-h4: 20px;
  --font-h5: 18px;
  --font-para: 16px;
  --font-14: 14px;
  --font-button: 14px;
  --font-12: 12px;
  --font-10: 10px;

  --duration-short: 0.1s;
  --duration-default: 0.2s;
  --duration-long: 0.5s;

  --border-radius: 4px;
  --shadow-8dp: 0px 8px 10px rgba(0, 0, 0, 0.14),
    0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);

  --Ngap: 8px;
  --Mgap: -8px;
}

@media (min-width: 576px) {
  :root {
    --Ngap: 16px;
    --Mgap: -16px;
  }
}
@media (min-width: 768px) {
  :root {
    --Ngap: 24px;
    --Mgap: -24px;
  }
}
@media (min-width: 992px) {
  :root {
    --Ngap: 24px;
    --Mgap: -24px;
  }
}
@media (min-width: 1200px) {
  :root {
    --Ngap: 24px;
    --Mgap: -24px;
  }
}
@media (min-width: 1364px) {
  :root {
    --Ngap: 32px;
    --Mgap: -32px;
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-header);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black-light);
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

body {
  @include z-index(body);
  font-size: 1rem;
  font-family: var(--font-header);
  overflow-x: hidden;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--background-color);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.layout__main-content {
  flex: 1;
}

#layout__main-content-wrapper {
  position: relative;
  z-index: 1;
}

.layout__grid-box {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 1140px) {
    padding-left: 160px;
    padding-right: 160px;
  }
  @media (min-width: 1400px) {
    max-width: 1120px;
  }
  // @media (min-width: 1800px) {
  // max-width: 1120px;
  // }
}

.layout__grid-fluid {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.padding--left-0 {
  padding-left: 0;
}
.padding--right-0 {
  padding-right: 0;
}
b,
strong {
  font-weight: 500;
}
em,
i {
  font-style: italic;
}
a {
  color: inherit;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.heading--1,
.shopify-policy__title {
  /* Heading1 */
  font-family: var(--font-minion);
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  /* or 100% */
  @media (min-width: 768px) {
    font-size: 56px;
    line-height: 56px;
  }
}

.heading--2 {
  /* Heading2 */
  font-family: var(--font-minion);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */
}

.heading--3 {
  /* Heading3 */
  font-family: var(--font-header);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height, or 121% */
}

.heading--4 {
  /* Heading4 */
  font-family: var(--font-minion);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
}

.heading--5 {
}

.heading--6 {
}

.text--body-1 {
  /* Body1 */
  font-family: var(--font-header);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.text--body-2,
p {
  /* Body2 */
  font-family: var(--font-header);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.pagination {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button--prev svg {
    transform: rotate(180deg);
  }
  &__button--next svg {
    transform: rotate(-180deg);
  }
  &__page {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    /* Body1 */
    font-family: var(--font-header);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;

    /* Primary/Red3 */
    color: var(--color-red3);

    cursor: pointer;

    &--current {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      padding: 2px 8px;
      border: 1px solid transparent;
      border-radius: 2px;
      /* Body1 */
      font-family: var(--font-header);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      display: flex;
      align-items: center;

      /* Primary/Red3 */
      color: var(--color-red3);

      cursor: pointer;
      background-color: #c61d23;
      color: #ffffff;
    }
    &--decorative {
      opacity: 0.4;
      &:hover {
        // border: 1px solid transparent;
        color: initial;
      }
    }
  }
}
