.drawer {
  display: none;

  &.is-active {
    display: block;
  }

  &.is-visible .drawer__wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  &.is-visible .drawer__overlay {
    opacity: 0.5;
  }

  .drawer__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    @include z-index(drawer_overlayWrapper);
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    background-color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .drawer__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    @media (min-width: 340px) {
      max-width: 90%;
    }
    @media (min-width: 428px) {
      max-width: 425px;
    }
    @include z-index(drawer_overlay);
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: #fff;
    -webkit-transform: translateX(103%);
    transform: translateX(103%);
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 6px #777;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    form {
      display: flex;
      flex-direction: column;
      height: 100%; /* Or set specific height like 100vh if needed */
    }
    .drawer__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 32px;
      padding-bottom: 32px;
      .drawer__title {
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */
        /* Primary/Red1 */
        color: #c61d23;
      }
      button.drawer__close {
        padding: 0;
      }
    }

    .drawer__content {
      padding: 0 24px 32px;
      @media (min-width: 768px) {
        padding: 0 40px 32px;
      }
      .cart__item.cartpopup-item {
        display: flex;
        gap: 16px;
        padding-bottom: 24px;
      }
      .card__item-image {
        flex: 0 0 95px;
        max-width: 95px;
        min-height: 100px;
        background-color: red;
        display: block;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .card__item-content {
        flex: 1 0 calc(100% - 95px - 16px);
      }
      .card__item--title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 4px;
        /* identical to box height */
        /* Primary/Red2 */
        color: #a5161a;
      }
      .card__item--price {
        padding-bottom: 8px;
        span {
          display: inline-block;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height */

          /* Primary/Red3 */
          color: #660808;
        }
      }
      .cart-item__qtyWrapper {
        display: flex;
        gap: 16px;
        align-items: center;
      }
      .cart-item__qty {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        width: 100px;
        .cart-qty-input {
          /* Frame 28 */
          box-sizing: border-box;
          -moz-appearance: textfield;
          -webkit-appearance: none;
          padding: 12px 16px;
          text-align: center;

          width: 100px;
          height: 41px;

          /* Neutral/White3 */
          border: 1px solid #d3d3d3;
          border-radius: 4px;

          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */
          text-align: center;

          /* Primary/Red3 */
          color: #660808;
        }

        .qty-decrease {
          position: absolute;
          left: 0;
          height: 100%;
        }
        .qty-increase {
          position: absolute;
          right: 0;
          height: 100%;
        }
        .qty-disabled {
          opacity: 0.5;
          cursor: none;
        }
      }
      .delete {
        .removeCta {
          display: inline-block;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */
          color: #9f9f9f;
        }
      }
      flex: 1 1 auto;
      overflow-y: auto;
    }

    .drawer__footer {
      flex-shrink: 0;

      align-items: flex-start;
      padding: 32px 40px;

      /* Neutral/White2 */
      background: #f5f3f4;
      border-radius: 0px 0px 0px 10px;
      .cartpopup-total {
        display: grid;
        grid-template-columns: 1fr 1fr;
        span {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height */
          /* Primary/Red3 */
          color: #660808;
          &.price {
            text-align: right;
          }
        }
      }
      .cartpopup-buttons {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button-solid {
          display: block;
          padding: 12px 16px;
          /* Primary/Red1 */
          background: #c61d23;
          border-radius: 6px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */
          text-align: center;
          /* Neutral/White1 */
          color: #ffffff;
          margin-bottom: 8px;
          width: 100%;
        }
        .button-outline {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */
          text-align: center;
          text-decoration-line: underline;

          /* Primary/Red3 */
          color: #660808;
        }
      }
    }
  }
}
