.site-header {
  // position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
}

.header-logo .logo-svg {
  svg {
    width: 100%;
    height: 100%;
  }
  width: 136px;
  height: 40px;

  @media (min-width: 768px) {
    width: 165px;
    height: 48px;
  }
}
.mobile-toggle {
  @media (min-width: 768px) {
    display: none;
  }
}

.header-nav {
  .header-nav-lists {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
    &.show {
      position: absolute;
      left: 0;
      right: 0;
      top: 124px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 124px);
      background-color: #fff;
      @media (min-width: 768px) {
        position: initial;
        height: auto;
        flex-direction: row;
      }
    }
    &.hide {
      display: none;
    }

    .header-nav-list {
      .header-nav-list--item {
        text-align: center;
        display: inline-block;
        font-family: "Instrument Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 16px;
        /* Primary/Red3 */
        color: #660808;
      }
    }
  }

  .search-bar {
    display: none;
    &.show {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 37px;
      z-index: 2;
      background-color: rgba($color: #000000, $alpha: 0.5);
      height: calc(100vh - 37px);
      @media (min-width: 768px) {
        position: initial;
        height: auto;
      }
    }
    .search-bar-wrapper {
      background-color: #fff;
      padding: 20px;
      display: flex;
      @media (min-width: 768px) {
        padding: 0;
      }
    }
    form {
      position: relative;
      flex: 1 0 auto;

      input[type="search"] {
        border: 1px solid #d3d3d3;
        /* Search products */
        padding: 12px 32px 12px 12px;
        border-radius: 6px;
        margin: 0 auto;
        // font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        /* Primary/Red3 */
        color: #660808;
        width: calc(100% - 32px - 14px);
        @media (min-width: 768px) {
          min-width: 690px;
          width: initial;
        }
      }
      button {
        position: absolute;
        left: initial;
        right: 0;
        top: 0;
        bottom: 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.header-icons {
  display: flex;
  gap: 20px;

  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    padding: 0;
    svg {
      width: 20px;
      height: 20px;
    }
    .cart-count {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 16px;
      height: 16px;
      background-color: #660808;
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      border-radius: 50%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  #search-toggle {
    &.hide {
      display: none;
    }
    &.show {
      display: inline-block;
    }
  }
}
