.about-highlight {
  @media (min-width: 768px) {
    position: relative;
    &:before,
    &::after {
      content: "";
      display: block;
      width: 110px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(./nithya-amritham-about-pattern.webp);
      background-size: contain;
    }
    &:before {
      left: 0;
    }
    &::after {
      right: 0;
      transform: rotate(180deg);
    }
  }
  &__wrapper {
    padding-top: 56px;
    padding-bottom: 56px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .about-highlight__text {
      max-width: 525px;
    }

    .about-highlight__heading {
      padding-bottom: 16px;
    }
    .about-highlight__heading {
      /* Heading1 */
      font-family: var(--font-minion);
      font-weight: 700;
      font-size: 40px;
      line-height: 42px;
      /* or 100% */
      /* Primary/Red2 */
      color: #a5161a;
      @media (min-width: 768px) {
        font-size: 56px;
        line-height: 56px;
      }
    }

    .about-highlight__description p {
      /* Body1 */
      font-family: var(--font-header);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      /* Primary/Red3 */
      color: var(--color-red3);

      &:not(:last-child) {
        padding-bottom: 8px;
      }
    }
  }
}
