.about-highlight-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  .about-highlight-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;
    @media(min-width: 768px) {
      flex-direction: row;
    }

    .about-highlight-text {
      max-width: 525px;
    }
    .richtext-heading h2 {
      /* Heading1 */
      font-family: "Minion Pro Cond Capt";
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      /* or 100% */

      /* Primary/Red2 */
      color: #a5161a;
    }
    p {
      /* Body1 */
      font-family: "Instrument Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      /* Primary/Red3 */
      color: #660808;
      + p {
        margin-top: 8px;
      }
    }
  }
}
