.announcement-bar {
  // background-color is from setting page
  // text color is from setting page
  display: block;
  position: relative;
  overflow: hidden;
  padding: 8px 48px;
  .announcement-scroll {
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
    .announcement-text {
      display: inline-block;
      font-family: var(--font-header);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
