.highlight-features__wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  gap: 20px;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));

  .highlight-features__item {
    display: flex;

    .highlight-features__icon {
      width: 60px;
      height: 60px;
    }

    .highlight-features__icon-image {
      width: 60px;
      height: 60px;
    }

    .highlight-features__content {
      max-width: 268px;
      padding-left: 24px;

      .highlight-features__title {
        font-family: "Instrument Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #a5161a;
        padding-bottom: 8px;
      }

      .highlight-features__text {
        font-family: "Instrument Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #660808;
      }
    }
  }
}
