.product-slider-section {
  padding-top: 56px;
  padding-bottom: 56px;

  .product-slider-heading {
    color: #c61d23;
    padding-bottom: 24px;
  }



  .slick-list {
    padding: 0 20% 0 0;

    @media (min-width: 768px) {
      padding: 0;
    }
  }
}
