.product-slider-section {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  .product-slider-heading {
    font-family: "Minion Pro Cond Capt";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    /* Primary/Red1 */
    color: #c61d23;
    padding-bottom: 24px;
  }
}
