.product-slider-section {
  padding-top: 56px;
  padding-bottom: 56px;
  // padding-left: 0;
  // padding-right: 0;
  @media (min-width: 768px) {
    // padding-right: 16px;
  }
  .product-slider-heading {
    color: #c61d23;
    padding-left: 16px;
    @media (min-width: 768px) {
      padding-left: 0px;
    }
    &-wrapper {
    padding-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .slick-list {
    padding: 0 20% 0 0;

    @media (min-width: 768px) {
      padding: 0;
    }
  }
  .sliderButton {
    display: flex;
    gap: 16px;
    .slick-disabled{
      opacity: 0.5;
      cursor: none;
    }
    .slick-prev,
    .slick-next {
      position: static;
      left: 0;
      width: auto;
      height: auto;
      transform: initial;
      &:before {
        content: none;
      }
    }
  }
}

.product-slider-wrapper {
  .product__slider--card {
    margin: 0px 20px 0px 0px;
    &:first-child {
      margin: 0px 20px;
    }
    @media (min-width: 768px) {
      &,
      &:first-child {
        margin: 0px 20px 0px 0px;
      }
    }
  }
}
