#productInfoModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: 9999;
	overflow-y: auto;
	box-sizing: border-box;
	justify-content: flex-end;
	.modal-dialog {
    overflow-y: scroll;
		background: #fff;
		border-radius: 10px 0 0 10px;
		position: relative;
		max-width: 425px;
		padding: 32px 40px;
	}
  #productInfoModalContent{
    .single-item{
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
