.short-video {
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  padding-left: 0;
  padding-right: 0;
  @media (min-width: 768px) {
    padding-right: 16px;
  }

  &__heading {
    color: #c61d23;
    margin-bottom: 24px;
    padding-left: 16px;
    @media (min-width: 768px) {
      padding-left: 20px;
    }
  }

  &__grid {
    gap: 20px;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(265px - 20px), 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(calc(265px - 20px), 1fr);
    padding: 0px 0px 0px 20px;
    @media (min-width: 768px) {
      padding: 0px;
    }
  }

  &__video {
    border-radius: 10px;
  }

  &__poster {
    border-radius: 10px;
    display: block;
  }
}
