.collection--title {
  /* Pick a combo */

  padding-top: 56px;
  padding-bottom: 24px;
  /* Heading2 */
  // font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */

  /* Primary/Red1 */
  color: #c61d23;
}

.collection-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 56px;

  // &[collection-list-mobile="2"] {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  // &[collection-list-tablet="3"] {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  &[collection-list-desktop="4"] {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.pagination--number {
  // padding-top: 24px;
  padding-bottom: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  span {
    padding: 2px 8px;
    border: 1px solid transparent;
    cursor: pointer;
    &.current {
      background-color: #c61d23;
      color: #ffffff;
      border-radius: 4px;
    }
    &:hover {
      border: 1px solid #c61d23;
      color: #c61d23;
    }
    &.deco {
      opacity: 0.4;
      cursor: hidden;
      &:hover {
        border: 1px solid transparent;
        color: initial;
      }
    }
    a {
      display: inline-block;
    }
  }
}
