.collection-image {
  img {
    width: 100%;
    height: 560px;
    object-position: center;
    object-fit: cover;
    @media (min-width: 768px) {
      height: auto;
    }
  }
}

.collection--title {
  /* Pick a combo */

  padding-top: 56px;
  padding-bottom: 24px;
  /* Heading2 */
  // font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height, or 100% */

  /* Primary/Red1 */
  color: #c61d23;
}

.collection-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  // padding-bottom: 56px;

  // &[collection-list-mobile="2"] {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  // &[collection-list-tablet="3"] {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  &[collection-list-desktop="4"] {
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
