.page-search {
  padding-top: 56px;
  padding-bottom: 56px;
  .page-title {
    /* Heading2 */
    font-family : var(--font-minion);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    /* identical to box height, or 100% */

    /* Primary/Red2 */
    color: #a5161a;
    margin-bottom: 8px;
  }
  .search-result--count {
    padding-bottom: 24px;
  }
}
